.col2{
border-bottom: 2px dashed black;
overflow-y: scroll;
text-align: left;
overflow-x: hidden;
}
.main{
    position: absolute;
    top:15%;
    left: 20%;
    width:80%;
height:100vh;
}
.contents{
    border-bottom: 1px dashed black;
    margin-bottom: 10px;
}
h4,p{
    margin:1%;
}
